* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(244, 253, 253);
    font-family: 'Roboto', sans-serif;
}
/* Navigation Section*/
ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.3rem;
    color: rgb(250, 243, 231);
}

.navigation a:hover {
    color: rgb(250, 243, 231);
    text-shadow: 1px 1px 2px rgb(218, 142, 1), 0 0 25px rgb(250, 243, 231);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(131, 209, 240);
    width: 100%;
    padding: 1rem 0;
}

/* Content Section*/
.name {
    color: rgb(238, 15, 15);
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;  
}

.main {
    text-align: center;
    padding: 1.2rem 0;
}

.intro img {
    /*width: 70%;*/
    height: 70vh;  
}

h3 {
    color: rgb(245, 123, 8);
    font-weight: 900;
    font-size: 1.6rem;
    padding: 6rem 0;
    font-family: 'Oswald', sans-serif;
}

/* Footer*/
.footer {
   display: flex;
   justify-content: space-evenly;
   color: rgb(54, 62, 73);
   font-family: 'Oswald', sans-serif;
   padding-bottom: 2rem;
}

.footer a {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.3rem;
    color: rgb(54, 62, 73);
}

